<div>
    <h1 class="display-2"> Hesabınız onaylanmıştır!</h1>
</div>
<div>
    <a href="/Account/login" style="text-decoration:none;"> <h1 class="display-4"> Giriş yapmak için tıklayınız</h1></a>
   
</div>

