@model User
@{
    ViewData["Title"] = "Authors Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <partial name="_MemberCard" data="@Model" />
    </div>
    <div class="col-md-6">



        <section>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <h5 class="display-4 text-center">Sayın @Model.FirstName</h5>
                </div>


                <hr />
                <!--<div class="row rounded">
                    <div class="col-lg-4 col-12">-->
                        <!-- small box -->
                        <!--<div class="small-box bg-danger">
                            <div class="inner text-center">
                                <h3>0</h3>

                                <p class="text-white">Güncel Randevunuz</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>-->

            </div>
        </section>


    </div>
</div>
