@model User
@{
    ViewData["Title"] = "Authors Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("MemberCard")
    </div>
    <div class="col-md-6">



        <section>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <h5 class="display-4 text-center">Sayın @Model.FirstName</h5>
                </div>


                <hr />
               

            </div>
        </section>


    </div>
</div>
