@model List<Heading>
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Css {
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#headingList').DataTable(
                {
                    lengthMenu: [
                        [2, 5, 10, 20, 40, -1],
                        [2, 5, 10, 20, 40, "Tümü"]
                    ],
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json"
                    }
                }
            );
        });
    </script>
}
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">

        <div class="card-body p-0">
            <table data-page-length="5" class="table table-striped projects" id="headingList">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Başlık Adı
                        </th>
                        <th style="width: 20%">
                            Yazarları
                        </th>
                        <th style="width: 20%">
                            Kategorileri
                        </th>
                        <th style="width: 5%" class="text-center">
                            Anasayfa
                        </th>
                        <th style="width: 5%" class="text-center">
                            Durum
                        </th>

                        <th style="width: 40%" class="text-center">
                            İşlemler
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var head in Model)
                    {
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                @head.HeadingName
                            </a>
                            <br />
                            <small>
                                @(((DateTime)head.HeadingPublishTime).ToString("dd MMM yyyy"))
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>

                            </ul>
                        </td>
                        <td class="list-inline">
                            
                                kategori
                           

                        </td>
                        <td class="list-inline">
                            
                                @head.IsHome
                           

                        </td>
                        <td class="list-inline">
                          
                                @head.IsApproved
                         

                        </td>

                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>



