@model User

@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link baslikyazi bg-warning btn btn warning" href="/mypage/@Model.UserName"><i class="fa-solid fa-lock-open" style="font-size:15px;"></i> Benim Sayfam</a>
}
else
{
    <a class="nav-link baslikyazi bg-warning btn btn warning" href="/login"><i class="fa-solid fa-lock " style="font-size:15px;"></i> Randevu Al </a>
}