
@model MemberServiceModel
@{
    ViewData["Title"] = "Authors Page";
    ViewData["Username"] = Model.Member.MemberUsername;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <partial name="_MemberCard" data="@Model" />
    </div>
    <div class="col-md-6">
        <h1>Randevu alım sayfası</h1>

        <form action="/" method="post">
            <div class="form-group">
                <label></label>
                <select ></select>categori seçimi yapılacak

            </div>
            <div>

            </div>

        </form>
    </div>
</div>



