@model User
@{
    ViewData["Title"] = "Authors Page";
  
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <partial name="_MemberCard" data="@Model" />
    </div>
    <div class="com-md-7">

    </div>
</div>
