<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <!--Mycss-->
    <link href="~/css/App.css" rel="stylesheet" />
    <link href="~/css/MyCss.css" rel="stylesheet" />
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light headerStyle mb-5 ">
        <div class="container-fluid">
            <a class="navbar-brand pisikoBar"
               asp-controller="Home"
               asp-action="HomePage">PisikoBar</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarNavDropdown">
                <ul class="navbar-nav w-100 d-flex justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link active baslikyazi" href="#">
                            Hakkımızda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link baslikyazi" href="#">
                            Sorularınız
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link baslikyazi"
                           asp-controller="Authors"
                           asp-action="List">
                            Pisikologlar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link baslikyazi" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link baslikyazi" href="#">
                            Haberler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link baslikyazi" href="#">Marka</a>
                    </li>
                    <li class="nav-item dropdown baslikyazi">
                        <a class="nav-link dropdown-toggle text-white baslikyazi"
                           href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Hizmetlerimiz
                        </a>
                        <ul class="dropdown-menu baslikyazi"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="HealtyLife"
                                   asp-action="List"
                                   asp-route-category="saglikli-yasam-fitness">
                                    Sağlıklı Yaşam
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Diyet</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Astroloji
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Yaşam Koçu
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Cinsel Sağlık
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Finans</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Sipirütel Enerji
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="#">
                                    Pisikoloji
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="HeadingCreate">
                                    Admin Paneli
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        @if (@ViewData["Username"] != null)
                        {
                            <a class="nav-link baslikyazi bg-warning btn btn warning" href="/Member/MemberPage/?memberusername=@ViewData["Username"]">Benim Sayfam<i class="fa-solid fa-person " style="font-size:25px;"></i></a>
                        }
                        else
                        {
                            <a class="nav-link baslikyazi bg-warning btn btn warning" href="/Member/Index">Üye Ol<i class="fa-solid fa-person " style="font-size:25px;"></i></a>
                        }

                    </li>

                </ul>
            </div>

        </div>
    </nav>


    @RenderBody()


    <footer class="mt-5">
        <div class="footer-top">
            <div class="container">
                <div class="footer-day-time">
                    <div class="row">
                        <div class="col-md-8">
                            <ul>
                                <li>
                                    Çalışma Saatlerimiz: Pazartesi - Cuma: 8:30
                                    - 18:00
                                </li>
                                <li>Pazar: 12:00 AM - 20:00</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <div class="phone-no">
                                <a href="tel:+12 34 56 78 90">
                                    <i class="fa fa-mobile"
                                       aria-hidden="true"></i>
                                    +90 212 456 12 78
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Hakkımızda</h4>
                        <p>
                            PisikoBar’da en büyük önceliğimiz, bünyemize
                            kattığımız psikologların yetkinlikleridir. Her
                            aşamada en iyi hizmeti sunabilmek adına, belli
                            eğitim ve deneyimlere sahip psikologları aşamalı
                            bir mülakat sürecine tabi tutuyoruz.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Bilgi İçin</h4>
                        <ul class="Adress">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                İstanbul\Üsküdar
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:#">
                                    pisikobar@psk.pisikobar.com.tr
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-mobile"
                                   aria-hidden="true"></i>
                                <a href="tel:+90 212 456 12 78">
                                    +90 212 456 12 78
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Bizi Takip Edin</h4>
                        <ul class="social-icon">
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="copyright">Hakları Saklıdır © 2022</p>
                    </div>
                    <div class="col-sm-7">
                        <ul>
                            <li><a href="#">Anasayfa</a></li>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Hizmetlerimiz</a></li>
                            <li><a href="#">Marka</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--Scripts-->
    <script src="~/js/jquery.flexslider.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>