@model  User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   

    <link href="~/css/memberCard.css" rel="stylesheet" />
</head>
<body>

    <div class="card">
        <div class="front">
            <div class="title"><h2>My Page</h2></div>
            <div class="top">
                <div class="img-container">
                    <img src="@Model.MemberImage" alt="image">
                </div>
            </div>
            <div class="description">
                <h1>@Model.UserName</h1>
                <p>@Model.Email</p>
            </div>
            <div class="list">
                <ul>
                    <li><a  href="/mypage/@Model.UserName" ><i class="fa fa-user"></i>Profile</a></li>
                    <li><a style="color:black !important;" href="/mypage/history/@Model.UserName"><i class="fa-solid fa-book-open"></i>Alınan Hizmetler & Güncel Randevular</a></li>
                    <li><a style="color:black !important;" href="/mypage/appointment/@Model.UserName"><i class="fa fa-users"></i>Randevu Al</a></li>
                    <li><a style="color:black !important;"><i class="fa-solid fa-message"></i>Danışmanınla Sohbet Et</a></li>
                    <li><a style="color:black !important;" href="/Account/Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Çıkış Yap</a></li>

                </ul>
            </div>
        </div>
        
     </div>   
     
        <script src="~/js/site.js"></script>
</body>
</html>